.headerContainer {
    min-height: 60px;
    background: #ffffff!important;
    border: 1px solid #c8c8c8;
    margin-bottom: 20px;
    z-index: 9999;
    position: fixed;
}

.mainContainer {
    padding-top: 100px;
    background: #ffffff!important;
}

.headerContainer span {
    float: left;
    margin-top: 10px;
}

.headerContainer h4 {
    margin-top: 20px;
    margin-left: 15px;
    float: left;
}

.noPadding {
    padding: 0;
}

.mTop {
    margin-top: 12px
}

.menuBtn {
    background-color: #a0a0a0 !important;
    border: 1px solid #a0a0a0 !important;
    margin-left: 15px;
}

h4 {
    color: #151b1e;
    font-size: 1rem;
}

.login-img {
    max-width: 100%;
    height: auto;
    border-radius: 50em;
}

/deep/ .ui-sidebar {
    padding: 0 !important;
    margin: 0 !important;
}

/deep/ body .ui-megamenu {
    border: 1px solid #444d58 !important;
    margin-top: 80px;
    background-color: #444d58;
    color: #ffffff;
}

/deep/ body .ui-megamenu .ui-menuitem-text {
    font-size: 0.875em;
    color: #ffffff !important;
}

/deep/ body .ui-megamenu .ui-menuitem .ui-menuitem-active>ui-menuitem-link {
    color: #151b1e;
    background-color: #444d58;
}

/deep/ body .ui-megamenu .ui-menuitem-icon {
    font-size: 0.875em;
    color: #ffffff !important;
}

/deep/ body .ui-sidebar {
    background-color: #444d58;
}

.logout {
    text-align: right;
    color: #151b1e;
    margin-top: 5px;
    cursor: pointer;
}

/deep/ .sidebar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    color: #fff;
    background: #444d58;
}