<div class="headerContainer col-md-12 row">
    <div class="col-md-2">
        <span><img src="../assets/logo_smart.png" width="30" /></span>
        <h4>SMART DUDE</h4>
    </div>
    <div class="col-md-9 mTop">
        <button type="text" (click)="toggleMenu($event)" class="menuBtn" pButton icon="fa fa-list"></button>
    </div>
    <div class="col-md-1 logout">
        <img alt="admin" class="login-img" src="../assets/user.jpg" (click)="menuToggle($event)">
        <p-menu #menu [popup]="showMenu" [model]="items"></p-menu>
    </div>

</div>
<div class="mainContainer">

    <div class="col-md-12 row noPadding">
        <div class="col-md-2">
            <p-sidebar [(visible)]="display" [modal]=false styleClass="sidebarContainer" [style]="{width:'15em'}">
                <div class="col-md-12 noPadding menuContainer">
                    <p-megaMenu [model]="menuItems" [orientation]="vertical"></p-megaMenu>
                </div>
            </p-sidebar>

        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div>